exportPattern("^[[:alpha:]]+")

import(ggplot2)
import(grid)
import(gridExtra)
import(gtable)
import(knitr)
import(latex2exp)
import(reshape2)
import(scales)
import(survival)
import(stringr)
importFrom(janitor, "adorn_totals")
importFrom("extraDistr", "dbbinom")
importFrom("tidyr", "crossing", "gather", "spread", "ends_with", "pivot_longer", "pivot_wider")
importFrom("latex2exp", "TeX")
importFrom("purrr", "map_df")
importFrom("data.table", "data.table", "setkeyv")
importFrom("rlang", ":=")
importFrom("parallel", "clusterExport","parApply","clusterEvalQ")
importFrom("dplyr", "mutate", "group_by", "across", "recode", "summarize", "desc", "near", "bind_rows", "everything", "bind_cols", "slice", "full_join", "pull", "case_when","distinct", "select",  "n", "ungroup", "left_join", "rename", "arrange", "summarise")
importFrom("grDevices", "colorRampPalette", "dev.cur", "extendrange")
importFrom("graphics", "par")
importFrom("mvtnorm", "rmvnorm")
importFrom("plyr", "unrowname", "rbind.fill.matrix", "quickdf","rbind.fill")
importFrom("stats", "complete.cases", "dbeta", "dbinom", "density",
               "df", "dgamma", "dnorm", "dt", "filter", "integrate", "lag",
               "line", "optim", "pbeta", "pbinom", "pf", "pgamma", "pnorm",
               "pt", "qbeta", "qgamma", "qnorm", "qt", "quantile", "rbeta",
               "rbinom", "rgamma", "rnorm", "rt", "sd")
importFrom("utils", "head", "tail", "write.table")
importFrom("tibble", "tibble", "as_tibble")



export(dbeta.rp)
export(df_to_clip)
export(dgamma.rp)
export(dnorgam)
export(dnorm.rp)
export(dt_ls)
export(gcurve)
export(geom_stepribbon)
export(get.ng.post.df)
export(get.ng.post)
export(get.normal.ss.post)
export(get.ss.bin.df)
export(get.ss.bin.int.df)
export(get.ss.bin.int.GNG)
export(get.ss.bin.int.oc)
export(get.ss.bin.int.oc.sim)
export(get.ss.bin.ssize.oc.df)
export(get.ss.bin.studyend.GNG)
export(get.ss.bin.trt.int.oc.df)
export(get.ss.bin.trt.oc.df)
export(get.ss.ng.df)
export(get.ss.ng.ssize.oc.df)
export(get.ss.ng.studyend.GNG)
export(get.ss.ng.trt.int.oc.df)
export(get.ss.ng.trt.oc.df)
export(get.ss.normal.post)
export(get.ts.bin.dec.df)
export(get.ts.bin.dec)
export(get.ts.bin.int.dec)
export(get.ts.bin.int.oc)
export(get.ts.bin.ssize.oc.df)
export(get.ts.bin.studyend.GNG)
export(get.ts.bin.trt.oc.df)
export(get.ts.ng.mc.df)
export(get.ts.ng.mc)
export(get.ts.ng.ssize.oc.df)
export(get.ts.ng.studyend.GNG)
export(get.ts.ng.trt.int.oc.df)
export(get.ts.ng.trt.oc.df)
export(get.tte.df)
export(get.tte.int.oc.df)
export(get.tte.post.df)
export(get.tte.post.param)
export(get.tte.post)
export(get.tte.ssize.oc.df)
export(get.tte.studyend.GNG)
export(get.tte.trt.oc.df)
export(goparallel)
export(interim.calculator)
export(list_to_dataframe)
export(make.ss.bin.int.req.plot)
export(make.ss.bin.int.req.plot2)
export(make.ss.bin.int.req.table)
export(make.ss.bin.int.dec.GridPlot)
export(make.ss.bin.int.GStable)
export(make.ss.bin.int.oc.plotSplit)
export(make.ss.bin.int.oc.table)
export(make.ss.bin.int.ocplot)
export(make.ss.bin.ppp)
export(make.ss.bin.ria)
export(make.ss.bin.ssize.oc)
export(make.ss.bin.ssize.oc2)
export(make.ss.bin.trt.int.oc)
export(make.ss.bin.trt.oc1)
export(make.ss.bin.trt.oc2)
export(make.ss.ng.int.req.plot)
export(make.ss.ng.int.req.table)
export(make.ss.ng.ppp)
export(make.ss.ng.ria)
export(make.ss.ng.ssize.oc)
export(make.ss.ng.trt.int.oc)
export(make.ss.ng.trt.oc1)
export(make.ss.ng.trt.oc2)
export(make.ts.bin.int.dec.df)
export(make.ts.bin.int.dec.plot)
export(make.ts.bin.int.oc.plot)
export(make.ts.bin.int.oc.table)
export(make.ts.bin.pp.heatmap)
export(make.ts.bin.ppp)
export(make.ts.bin.ria)
export(make.ts.bin.ssize.oc)
export(make.ts.bin.studyend.GNG.hm)
export(make.ts.bin.trt.oc1)
export(make.ts.bin.trt.oc2)
export(make.ts.ng.int.oc)
export(make.ts.ng.ppp)
export(make.ts.ng.ria)
export(make.ts.ng.ssize.oc)
export(make.ts.ng.studyend.criteria)
export(make.ts.ng.studyend.GNG.hm)
export(make.ts.ng.trt.oc1)
export(make.ts.ng.trt.oc2)
export(make.tte.int.data.plot)
export(make.tte.int.data.table)
export(make.tte.int.oc)
export(make.tte.ppp)
export(make.tte.ria)
export(make.tte.ssize.oc)
export(make.tte.trt.oc1)
export(make.tte.trt.oc2)
export(p2beta_diff)
export(pbetabinom_c)
export(pooled.sd)
export(return.ts.bin.int.predprob)
export(return.ts.bin.studyend.GNG.hm.df)
export(return.ts.ng.studyend.GNG.hm.df)
export(return.tte.int.data.req)

export(ci2beta)
export(q2beta)
export(p2beta)
export(d2beta)
export(r2beta)
export(root)
export(gauss.hypgeom)
export(g)
export(appel.hypgeom)
export(f)
export(ocTable_multi)
export(probmat.func)
export(Intr_func)
export(Discord_Go)
export(Discord_Grey)
export(Discord_NoGo)
